@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.custom-scrollbar {
    /* Hide scrollbar by default */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* Invisible scrollbar for Firefox */
  }
  
  /* When the user hovers, show the scrollbar */
  .custom-scrollbar:hover {
    scrollbar-color: rgba(56, 0, 130, 0.5) transparent; /* Set thumb color to indigo when hovered */
  }
  
  /* Webkit (Chrome, Safari) scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(56, 0, 130, 0.5); /* Indigo color for the thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* Make track invisible */
    border-radius: 4px;
  }
  
  /* Optional: Optional smooth scroll behavior */
  .custom-scrollbar {
    scroll-behavior: smooth; /* Smooth scrolling */
  }


  .edit-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  
  .edit-button:active {
    background-color: #388e3c;
  }
  
  /* Delete Button Style */
  .delete-button {
    background-color: #f44336; /* Red background */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #e53935;
  }
  
  .delete-button:active {
    background-color: #d32f2f;
  }
  